html{
    color: #354657;
    font-size: 1rem;
    @import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;700&display=swap');
    font-family: 'Raleway', sans-serif;
    width: 100%;
    max-width: 100%;
    overflow-x: hidden;
}
p{
    margin-top: 10px;
}
header{
    top: 0;
    position: sticky;
    z-index: 999;
    width: 100%;
}
body{
    margin: 0;
    width: 100%;
    max-width: 100%;
    overflow-x: hidden;
}
::selection{
    background-color: #946fd367;
}
a{
    text-decoration: none;
}
li{
    list-style: none;
}
.header_menu{
    display: flex;
    justify-content: center;
    margin-top: -120px;
}
.header_background{
    background-color: #ffffff;
    height: 118px;
    width: 100%;
}
.logo{
    height: 58px;
    margin-left: 15%;
    margin-top: 10px;
}
a.catalog, a.education, a.partners, a.stock {
    color: #354657;
    font-weight: bold;
    margin: 2%;
}
a.catalog:hover, a.education:hover, a.partners:hover, a.stock:hover {
    text-decoration: underline;
    color: black;
}
.header_icons{
    display: flex;
    justify-content: flex-end;
    margin-right: 16%;
    margin-top: -60px;
}
.search, .user, .shopping-bag {
    margin-left: 1rem;
}
@media (min-width: 1000px) and (max-width: 1600px){
    .logo{
        margin-left: 50px;
    }
    .header_menu{
        margin-top: -105px;
        margin-left: 80px;
    }
    .header_icons{
        margin-top: -50px;
        margin-right: 100px;
    }
    .submenu{
        margin-top: 50px;
        margin-top: 20px;
    }
}
@media (min-width: 500px) and (max-width: 999px){
    .logo{
        margin: 10px;
    }
    .header_menu{
        margin-top: -70px;
        margin-left: -10px;
    }
    .submenu{
        margin-top: 30px;
    }
}
.banner{
    height: 600px;
}
.banner_content{
    position: absolute;
    animation-name: banner-animation;
    transition: inherit 2s cubic-bezier(0.075, 0.82, 0.165, 1) ;
    animation-duration: 2s;
    animation-iteration-count: 1;
    z-index: 55;
    top: 200px;
    left: 300px;
}
@keyframes banner-animation{
    from{
       transform: translateX(-150%); 
    } 

    to{ 
        transform: translateX(0px);  
    }
}
.nutri_support{
    font-weight: 900;
    color: white;
    margin-top: var(--banner_content_top);
    margin-left: var(--banner_content_left);
}
.daily_habits{
    color: white;
    margin-top: var(--banner_content_top);
    margin-left: var(--banner_content_left);
    white-space: pre;
}
.banner_btn{
    width: 206px;
    height: 54px;
    border-radius: 50px;
    background-color: #946FD3;
    position: relative;
    z-index: 5;
    color: white;
    font-weight: 700;
    margin-top: 30px;
    margin-left: var(--banner_content_left);
    display: block;
    box-shadow: 0px 5px 20px rgb(46, 45, 45);
}
.banner_btn:hover{
    background: linear-gradient(#946FD3, #5a18cc);
    color: #ffffff;
}
.banner_btn>span{
    position: relative;
    left: 22.5%;
    top: 15px;
}
@media screen and (min-width: 500px) and (max-width: 900px) {
    .banner_content{
        left: 50px;
    }
}
.banner2{
    background-color: #F0E5FF;
    height: 269px;
    width: 100%;
    margin-top: -4px;
    display: flex;
    justify-content: center;
}
.banner2_content{
    margin-left: 30%;
}
.how{
    color: #946FD3;
    font-weight: 700;
    font-size: 20px;
    margin-top: 20px;
    text-transform: uppercase;
}
.pre-buyer{
    color: #354657;
    font-weight: 700;
    font-size: 38px;
}
.banner2_btn{
    background-color: #946FD3;
    height: 54px;
    width: 206px;
    border-radius: 50px;
    display: block;
}
.banner2_btn:hover{
    background: linear-gradient(#946FD3, #5a18cc);
}
.banner2_btn>span{
    color: white;
    font-weight: 700;
    position: relative;
    top: 15px;
    left: 45px;
}
.oil1, .oil2{
    position: relative;
    top: -300px;
    left: -120%;
}
.oil1{
    animation-name: oil-animation1;
    animation-iteration-count: infinite;
    transition: all 1s;
    animation-duration: 3s;
}
@-webkit-keyframes oil-animation1{
    from{
        transform: rotate(360deg);
        
    }
    to{
        transform: rotate(1);
    }
}

@-webkit-keyframes oil-animation2{
    from{
        transform: rotate(-360deg);
        
    }
    to{
        transform: rotate(1);
    }
}
.oil2{
    z-index: 5;
    left: -140%;
    animation-name: oil-animation2;
    animation-iteration-count: infinite;
    transition: all 1s;
    animation-duration: 3s;
}
.main-title{
    text-align: center;
    margin-top: 50px;
}
.card{
    border: none;
    margin: 10%;
}
.card:hover{
    background-color: #946FD3;
    animation: normal;
    animation-name: animation;
    animation-duration: 1.5s;
}
@-webkit-keyframes animation{
    from{
    transform: rotateY(180deg);
    transition: all 1s;
    }
    to{
        transform: rotateY(1);
    }
}
 .card:hover .card-title,  .card:hover .card-text{
    color: white;
}
.btn{
    color: #946FD3;
    border: #946FD3 2px solid;
    border-radius: 50px;
    width: 50%;
    height: 54px;
    position: relative;
    top: -30px;
    left: 30px;
}
.card:hover .btn{
    color: white;
    border: 2px solid white;
    background-color: #946FD3;
}
footer a{
    color: black;
    font-weight: bold;
}
footer a:hover{
    text-decoration: underline;
    color: black;
}
.footer{
    height: 97px;
    background-color: white;
    border-top: 1px solid #E2E2E2;
    width: 100%;
    margin-top: 150px;
}
.footer_content{
    display: flex;
    justify-content: space-around;
    margin-top: 40px;
}
.terra-health_bottom{
    margin-left: -5%;
    margin-top: -20px;
    margin-left: -150px;
    }

.team{
    margin-right: 2.5rem;
}
.facebook, .instagramm, .youtube, .linkedin{
    margin-right: 1rem;
}
.footer_text{
    margin-left: -20%;
}
@media (min-width: 800px) and (max-width: 1299px) {
    .footer_text{
        margin-left: 20px;
    }
}
@media (min-width: 600px) and (max-width: 799px) {
    .footer_text{
        margin-left: -250px;
    }
    
    .footer_icons{
        margin-left: -700px;
        margin-top: 40px;
    }
}
@media (min-width: 500px) and (max-width: 599px) {
    .footer_text{
        margin-top: 20px;
        margin-left: -200px;
        margin-top: 40px;
    }
}